astunparse==1.6.3
beautifulsoup4==4.11.1
CairoSVG==2.5.2
conda==4.3.16
coremltools==5.2.0
dill==0.3.5.1
easyocr==1.5.0
etcd==2.0.8
expecttest==0.1.3
graphviz==0.20
hypothesis==6.52.2
imageai==2.1.6
monkeytype==22.2.0
moviepy==1.0.3
nose==1.3.7
numba==0.55.2
pdfkit==1.0.0
psutil==5.9.1
pydot==1.4.2
pynvml==11.4.1
pywin32==300
setuptools==47.1.0
sympy==1.10.1
tabulate==0.8.10
torchaudio==0.12.0
tqdm==4.61.2
traitlets==5.0.5
typing_extensions==3.7.4.3
validators==0.19.0
xmlrunner==1.7.7
